body,
button,
input,
select,
optgroup,
textarea {
	color: #777;
	font-family: $font__main;
	font-size: 1rem;
	line-height: $font__line-height-body;

	.af-atf p {
		margin-top: 0;
		font-size: 20px;
		line-height: 28px;
	}
}

@import "headings";
@import "copy";
