.af-video-component {
	position: relative;

	video {
		border-radius: 6px;
		box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15);
		cursor: pointer;
		max-width: 100%;
		height: auto;
	}
	#af-play-button {
		left: 50%;
		position: absolute;
		pointer-events: none;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 12.91666666%;
		z-index: 100;

		transition: opacity 0.3s ease 0.15s;

		&.af-hide {
			opacity: 0;

			svg {
				transform: rotate(360deg);
			}
		}

		svg {
			background-color: #fff;
			border-radius: 50%;
			height: 100%;
			max-height: 124px;
			max-width: 124px;
			transition: transform 0.6s ease;
			transform: rotate(0deg);
			width: 100%;
		}
	}
}

@media screen and (min-width: 640px) {
	.af-video-component {
		margin-top: -270px;
	}
}
@media screen and (min-width: 960px) {
	.af-video-component {
		text-align: center;
		video {
			max-width: 960px;
		}
	}
}
